body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13pt;
    margin: 5px 0 0;
}
.content {
    background-color: white;
    width: 1400px;
    margin: auto;
}
.header1 {
    margin: auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.header1 img {
    border-top:solid rgb(53, 112, 122);
    outline: none;
}
.ul1 {
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 50px;
}
.ul1 a {
    background-color: rgb(68, 189, 211);
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 20px;
}
.ul1 a:hover {
    background-color: rgb(53, 112, 122);
    transition: 400ms;
}
.ul1 .home {
    font-weight: bold;
    background-color: rgb(53, 112, 122);
    color: white;
}
.ul1 .home:hover {
    background-color: rgb(68, 189, 211);
}
.banner {
    background-color: rgb(53, 112, 122);
}
.banner img {
    width: 1400px;
    height: 350px;
    display: block;
    margin: auto;
}
#section1 {
    display: flex;
    margin-top: 30px;
    gap: 50px;
}
#section1 #part1 {
    width: 900px;
}
#section1 #part1 h1 {
    font-size: 35pt;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}
#section1 #part2 {
    background-color: rgb(53, 112, 122);
    color: white;
    margin-left: auto;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
}
#section1 #part2 h2 {
    margin-top: 10px;
    font-weight: 200;
}
footer {
    background-color: rgb(68, 189, 211);
}
.footer {
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 1400px;
    justify-content: space-between;
}
.footer li {
    list-style: none;
}
.list1 li, .list1 p {
    margin-left: -42px;
}
.list1 p {
    margin-top: 70px;
    font-size: 10pt;
}
.list1 p a {
    font-weight: bold;
    text-decoration: none;
    outline: none;
    color: purple;
}
.list1 p a:hover {
    text-decoration: underline;
}
.list1 .cont {
    margin-bottom: 7px;
}
.list2 {
    text-align: right;
}
.list2 li:nth-child(1), .list2 li:nth-child(2) {
    margin-bottom: 7px;
}


/* Company Page */
.ul1 #company {
    background-color: rgb(53, 112, 122);
}
.ul1 #company:hover {
    background-color: rgb(68, 189, 211);
}
#compsec1 {
    display:flex;
    margin-top: 30px;
    gap: 80px;
}
#compsec1 main {
    width: 860px;
}
#compsec1 main h1 {
    margin-top: 20px;
    font-size: 30pt;
    font-weight: 100;
}
#compsec1 main h2 {
    margin-top: 50px;
    font-size: 25pt;
    font-weight: 500;
}
#compsec1 main div ul {
    margin-left: -24px;
}
#foto img {
    margin-top: 340px;
    width: 500px;
}
#foto p {
    margin-top: -6px;
    background-color: #F2A900;
    text-align: center;
    font-style: italic;
}


/* Services Page */
.ul1 #services {
    background-color: rgb(53, 112, 122);
}
.ul1 #services:hover {
    background-color: rgb(68, 189, 211);
}
#main {
    margin-top: 30px;
    display: flex;
    gap: 100px;
}
#servsec1 {
    width: 850px;
}
#servsec1 h1, h2 {
    font-weight: normal;
}
#servsec1 h1 {
    font-size: 30pt;
    margin-top: 20px;
    font-weight: 100;
}
#servsec1 h2 {
    margin-top: 50px;
    font-size: 20pt;
    font-weight: normal;
}
#div2 table {
    width: 700px;
    border-collapse: collapse;
}
#div2 table th, td, tr{
    border: none;
    padding: 8px;
}
#tabletitle {
    background-color: rgb(53, 112, 122);
    color: white;
}
.maintable td{
    border-bottom: 1px solid rgb(53, 112, 122);
}
.days {
    text-align: center;
}
.value {
    text-align: right;
}
#servsec2 {
    width: 500px;
}
#servsec2 h2 {
    font-size: 23pt;
}
.fulano {
    text-align: right;
}
.cite {
    text-align: justify;
}
.cite:nth-last-child(1){
    margin-top: 70px;
}

/* Contact Page */
.ul1 #contact {
    background-color: rgb(53, 112, 122);
}
.ul1 #contact:hover {
    background-color: rgb(68, 189, 211);
}
main#formula {
    background-color: lightblue;
    width: 890px;
    padding: 20px;
}
h1#contactformula {
    font-size: 40pt;
    font-weight: 100;
}
#headerform h3 {
    font-size: 15pt;
    font-weight: 100;
}
#first {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#first #nome, #first #empresa {
    width: 400px;
}
#second {
    margin-top: 20px;
}
#second #email {
    width: 845px;
}
